### Import important Python Libraries

In [1]:
import pandas as pd
from IPython.display import Markdown, display
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
from sklearn import metrics

def printmd(string):
    display(Markdown(string))
       
%  matplotlib inline

### 1. Load the data set

In [2]:
df_housing = pd.read_csv("C:/Users/kouame/Desktop/DATASCIENCE PIELINE/ONLINE COURSE/SIMPLILEARN/Machine Learning/Projects/Projects for submission/California Housing Price Prediction/Dataset for the project/housing.csv")

In [3]:
df_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [4]:
list(df_housing.columns)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'ocean_proximity',
 'median_house_value']

In [5]:
## Chech the different types of variables in the dataset  using  python info function 
df_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20433 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
ocean_proximity       20640 non-null object
median_house_value    20640 non-null int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

<p> we have four float64 variables, 5 int64 and 1 object or categorical variables </p>

In [6]:
# Check the summary statistic  of  numerical variables using drescribe method
df_housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
 # Check the summary statistic  of  categorical  variable using drescribe method
df_housing.describe( include= ["object"])

       ocean_proximity
count            20640
unique               5
top          <1H OCEAN
freq              9136

In [8]:
# extact  input X 

X= df_housing.drop( "median_house_value", axis=1 )

In [9]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY

In [10]:
# Extract the output variable 
y = df_housing["median_house_value"]

In [11]:
y.head()

0    452600
1    358500
2    352100
3    341300
4    342200
Name: median_house_value, dtype: int64

### 2. Handle   missing values

###### 2.1  detect missing values

In [12]:
X.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

<p> Only the variabe total_bedrooms has missing values </p>

###### 2.2 relace missing values bythe mean

In [13]:
X= X.fillna(X.mean(), inplace=True)

In [14]:
X.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
dtype: int64

#### 3. Encode  Categorical data

In [15]:
# Let 's check the different labels' in the variable (ocean _proximity)

In [16]:
X["ocean_proximity"].nunique()

5

In [17]:
X["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'], dtype=object)

In [18]:
# use  pandas.get _dummies to encode the variable 
X1 = pd.get_dummies(X["ocean_proximity"])

In [19]:
X1.head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0          0       0       0         1           0
1          0       0       0         1           0
2          0       0       0         1           0
3          0       0       0         1           0
4          0       0       0         1           0

In [20]:
type(X)

pandas.core.frame.DataFrame

In [21]:
type(X1)

pandas.core.frame.DataFrame

In [22]:
# We can Concatenate the X and X1 dataset 

X = pd.concat([X, X1], axis=1).drop("ocean_proximity", axis=1)

In [23]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       '<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
      dtype='object')

In [24]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41,880,129.0,322,126,8.3252,0,0,0,1,0
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,0,0,0,1,0
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,0,0,0,1,0
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,0,0,0,1,0
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,0,0,0,1,0

### 4.Split the data  dataset

In [25]:
X_train , X_test, y_train, y_test= train_test_split(X, y , test_size=0.2 , random_state=0)

In [26]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16512, 13), (4128, 13), (16512,), (4128,))

### 5 . Standardize data

In [27]:
### Standardize the train  dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train= scaler.fit_transform(X_train)

In [28]:
## Standardize the test dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_test= scaler.fit_transform(X_test)

### 6  Perform Linear Regression

In [29]:
# import linear model from scikit learn 
from sklearn.linear_model import LinearRegression 
LR= LinearRegression()
LR.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [30]:
# The coefficients
print('Coefficients: \n', LR.coef_)

Coefficients:
 [-53885.46840492 -54527.98744494  13517.23094821  -9383.62758367
  28402.20799753 -44213.3895578   29852.9318759   73896.66913485
   5977.24593611 -12358.8523152    2341.74204292   2419.20310094
   5916.69631349]

In [31]:
 # Predict the label 
y_pred= LR.predict(X_test)

In [32]:
# Import  Mean _squared _error from ssklearn  metric 
from sklearn.metrics import mean_squared_error
mse= mean_squared_error(y_pred, y_test)
rmse= np.sqrt(mse) 
rmse

68747.333755408268

### 7. Perform Decsion Tree Regression

In [33]:
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor()
DTR.fit(X_train, y_train)
y_pred=DTR.predict(X_test)
mse= mean_squared_error(y_pred, y_test)
rmse= np.sqrt(mse) 
rmse

77499.998862495297

### 8.  Perform Random Forest Regression

In [34]:
from sklearn.ensemble import RandomForestRegressor 
RFR = RandomForestRegressor()
RFR.fit(X_train, y_train)
y_pred=RFR.predict(X_test)
mse= mean_squared_error(y_pred, y_test)
rmse= np.sqrt(mse) 
rmse

60063.916326389743